<div class="content">

  <div id="sign">

  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <p><span class="data"><%= f.label :ニックネーム %></span></p>
      <%= f.text_field :nickname, placeholder: 'ニックネームを入力(必須)',autofocus: true %>
    </div>

    <div class="field">
      <p><span class="data"><%= f.label :email %></span></p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <p><span class="data"><%= f.label :password %></span>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %></p>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <p><span class="data"><%= f.label :パスワード確認 %></span></p>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <p><span class="data"><%= f.label :年齢確認 %></span><span class="small">（※ユーザー登録できるのは２０歳以上の方に限ります)</span><br>
      <%= f.check_box :over20, {} , 1, nil %><span class="data">20歳以上</span></p>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>
  </div>
</div>
