<div class="content">

  <div id="sign">

  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :ニックネーム %><br />
      <%= f.text_field :nickname, placeholder: 'ニックネームを入力(必須)',autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :パスワード確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :年齢確認（※ユーザー登録できるのは２０歳以上の方に限ります） %><br />
      <%= f.check_box :over20, {} , 1, nil %>20歳以上
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>
  </div>
</div>
