<div class="comment">
    <div class="comimg">
    <% if comment.user.image.attached? %>
	    <%= image_tag(rails_blob_path(comment.user.image),:size => "60x60") %>
	    <% else %>
	    <%= image_tag("default_image.jpg", :size => "60x60") %>
    <% end %>
    </div>
    <div class="comtxt">
		<ul>
		  <li><%= comment.created_at.strftime("%m/%d/%H:%M") %>
		  <% if user_signed_in? && comment.user.id == current_user.id %>
		  <li><%= link_to '削除', "/comments/#{comment.id}", method: :delete, class: "editbtn", data: {confirm: "削除しますか？"} %>
		  <% end %>
		  </ul>			  
		  <p><span><a href="/users/<%= comment.user.id %>" class="name">◆ <%= comment.user.nickname %></a></span></p>			
		  <p>　<%= comment.text %></p>
	</div>
  
</div>