<div class="content">
	<div class="user_edit_frame">
		<div class="user_edit">
		<%= form_for current_user do |f| %>
		<h3>登録情報</h3>
	      <div class="form-group file">
	      	<p><span class="data">プロフィール画像</span></p>
	        <%= f.file_field :image %>
		    
			<p><span class="data">ニックネーム</span></p>
			<%= f.text_field :nickname, placeholder: "最大20文字まで", class:"form-control", size: 30, maxlength: 20 %>
			<p><span class="data">テニス歴：</span></p>
			<%= f.text_field :career, placeholder: "テニス歴", class:"form-control", size: 30 %>
			<p><span class="data">活動エリア</span></p>
			<%= f.text_field :play_erea, placeholder: "活動エリア", class:"form-control", size: 30 %></p>
			<p><span class="data">フリー</span></p>
			<%= f.text_area :profile, placeholder: "自己紹介", cols:"50", rows:"3", class:"form-control" %>
			<p><span class="data">メールアドレス(非公開)</span></p>
			<p><%= current_user.email %></p>
			<p><%= link_to 'メールアドレスを変更する', '/email/new' %></p>
			<p><span class="data">SNSリンク</span></p>
			<%= f.text_field :link, placeholder: "Twitterやブログなど", class:"form-control len" %><br>
			<%= f.submit "編集", class: 'edi_btn' %>
		</div>
		<% end %>

        </div>
		<a href="/users/<%= current_user.id %>", class="btn" >戻る</a>
    </div>

</div>