<div class="contents">
	<div class="profile">
	    <% if user_signed_in? && @user.id == current_user.id %>
	      <%= link_to "プロフィール編集", edit_user_path(current_user) %><br>
	    <% end %>
	    <% if @user.image.attached? %>
	    <p><%= image_tag(rails_blob_path(@user.image),:size => "100x100") %></p>
	    <% else %>
	    <p><%= image_tag("default_user.jpg", :size => "100x100") %></p>
	    <% end %>

		ニックネーム：<%= @user.nickname %><br>
		テニス歴：<%= @user.career %><br>
		活動エリア：<%= @user.play_erea %><br>
		フリー：<%= @user.profile %><br>
    </div>

    <div class="events">
    	<div class="my_events">
			<p><%= @user.nickname %>さんの企画したイベント</p>
			
			<% @events.each do |event| %>
			<div>
				<%= event.event_date %>
				<%= event.prefecture %>
				<%= link_to 'イベント詳細', "/events/#{event.id}", method: :get %>
				<%= link_to '参加者', "/groups/#{event.id}", method: :get %><br>
			</div>
			<% end %>
			<%= paginate(@events) %>
	    </div>

	    <% if user_signed_in? && @user.id == current_user.id && @groups.present? %>

	    <div class="join_events">
	    <p><%= @user.nickname %>さんの参加イベント</p>
		    <% @groups.each do |group| %>
		    	<%= group.event.event_date %>
				<%= group.event.prefecture %>
				<%= link_to 'イベント詳細', "/events/#{group.event.id}", method: :get %><br>
		    <% end %>
		    <%= paginate(@groups) %>
		</div>

	    <% end %>

	    



	    <!-- <div class="co_events">
			<p><%= @user.nickname %>さんのコメントしたイベント</p>
			<% @co_events.each do |event| %>
				
				<%= event.event_date %>
				<%= event.prefecture %>
				<%= link_to 'イベント詳細', "/events/#{event.id}", method: :get %>
				<%= link_to '参加者', "/groups/#{event.id}", method: :get %><br>

			<% end %>
	    </div>


	    <div class="user_comments">

		<% @event_comments.each do |event_comment| %>
		<div class="user_comment">
		    <p><%= @user.nickname %>さんのコメントしたイベント</p>
			<%= event_comment.event.event_date %>
			<%= event_comment.event.prefecture %>
			<%= link_to 'イベント詳細', "/events/#{event_comment.event.id}", method: :get %><br>
			<p><%= @user.nickname %>さんのコメント</p>
			<%= event_comment.comment.text %><br>
		</div>
		<% end %>
		<%= paginate(@event_comments) %>
		</div>
	</div>
</div>