<div class="content">
	<div class="user_show">
	<h2><%= @user.nickname %></h2>
    <% if user_signed_in? && @user.id == current_user.id %>
      <%= link_to "プロフィール編集", edit_user_path(current_user), class: :edit %><br>
    <% end %>

		<div class="profile">

			<div class="pro_img">
		    <% if @user.image.attached? %>
			    <p><%= image_tag(rails_blob_path(@user.image),:size => "60x60") %></p>
			    <% else %>
			    <p><%= image_tag("default_image.jpg", :size => "60x60") %></p>
		    <% end %>
		    </div>

		    <div class="pro_txt">
				<p><span class="data">テニス歴　　</span><%= @user.career %></p>
				<p><span class="data">活動エリア　</span><%= @user.play_erea %></p>
				<p><span class="data">フリー：</span><%= @user.profile %></p>
				<p><span class="data">SNSリンク</span><a href="<%= @user.link %>"><%= @user.link %></a>
		    </div>
	    </div>

	    <div class="events">
	    	<h3>イベント</h3>
	    	<div class="my_events">
				<h4 class="midle">企画したイベント</h4>
				
				<% @events.each do |event| %>
				<div class="my_event">
					<p><%= event.event_date.strftime("%m/%d") %>｜

					<span class="erea"><%= link_to "#{event.prefecture}のイベント", "/events/#{event.id}", method: :get %></span>
					　<%= link_to '参加者', "/groups/#{event.id}", method: :get, class:"min" %></p>
				</div>
				<% end %>
				<%= paginate(@events) %>
		    </div>

		    

		    <div class="tab_menu">

		    <% if user_signed_in? && @user.id == current_user.id %>

				<div class="tab_contents">
	    			<div class="my_events">
				    <h4 class="midle">参加イベント</h4>
					    <% @groups.each do |group| %>
						<div class="my_event">
					    	<p><%= group.event.event_date.strftime("%m/%d") %>｜
							<span class="erea"><%= link_to "#{group.event.prefecture}のイベント", "/events/#{group.event.id}", method: :get %></span>
							<%= link_to 'キャンセル', "/groups/#{group.id}", method: :delete %></p>
						</div>
					    <% end %>
					    <%= paginate(@groups) %>
					</div>


	    			<div class="my_events">
				    <h4 class="midle">気になるイベント</h4>
					    <% @like_events.each do |like_event| %>
						<div class="my_event">
					    	<p><%= like_event.event.event_date.strftime("%m/%d") %>｜
							<span class="erea"><%= link_to "#{like_event.event.prefecture}のイベント", "/events/#{like_event.event.id}", method: :get %></span>
							<%= link_to '削除', "/like_events/#{like_event.id}", method: :delete, data: {confirm: "削除しますか？"}  %></p>
						</div>
					    <% end %>
					    <%= paginate(@groups) %>
					</div>


		    <% end %>

				    	<div class="right user_comments">
				    	<h4 class="midle">コメント</h4>
						<% @event_comments.each do |event_comment| %>
						<div class="right user_comment">
						    <p>＞＞ <%= event_comment.event.event_date.strftime("%m/%d") %>｜
							<span class="user_erea erea"><%= event_comment.event.prefecture %>のイベント</span>
							<%= link_to '　詳細', "/events/#{event_comment.event.id}", method: :get %></p>
							<p>　<%= event_comment.comment.text %></p>
						</div>
						<% end %>
						<%= paginate(@event_comments) %>
					    </div>

			    </div>
		    </div>
		    <h3>Diary</h3>
		    <div class="my_diaries">

			    <% @my_diaries.each do |my_diary| %>
			    	<div class="my_diary">
			    		<p><span class="under_line"><%= my_diary.created_at.strftime("%m/%d") %></span></p>
						<p><%= simple_format(h(my_diary.text)) %></p>
					    <% if my_diary.image.attached? %>
						    <div class="diary_img"><%= image_tag(rails_blob_path(my_diary.image),:size => "370x250") %></div>
					    <% end %>
					</div>
			    <% end %>
			    <%= paginate(@my_diaries) %>
		    </div>

		    <div class="my_likes">
		    	<h3>いいね</h3>
		    	<div class="my_like">
				    <h4 class="midle">雑談</h4>
				    <% @liked_chats.each do |liked_chat|  %>
				    <div class="my_like_thing">
				    	<div class="my_like_img">
					    <% if liked_chat.user.image.attached? %>
						    <%= image_tag(rails_blob_path(liked_chat.user.image),:size => "60x60") %>
						    <% else %>
						    <%= image_tag("default_image.jpg", :size => "60x60") %>
					    <% end %>				    		
				    	</div>
				    	<div class="my_like_text">
						    <p><span class="under_line"><a href="/users/<%= liked_chat.user.id %>">◆ <%= liked_chat.user.nickname %></a></span></p>
						    <p><%= liked_chat.text %></p>
						</div>
					</div>
				    <% end %>
				    <%= paginate(@liked_chats) %>
				</div>

				<div class="my_like">
				    <h4 class="midle">情報交換</h4>
				    <% @liked_infos.each do |liked_info|  %>
				    <div class="my_like_thing">
				    	<div class="my_like_img">
					    <% if liked_info.user.image.attached? %>
						    <%= image_tag(rails_blob_path(liked_info.user.image),:size => "60x60") %>
						    <% else %>
						    <%= image_tag("default_image.jpg", :size => "60x60") %>
					    <% end %>				    		
				    	</div>
					    	<div class="my_like_text">
						    <p><span class="under_line"><a href="/users/<%= liked_info.user.id %>">◆ <%= liked_info.user.nickname %></a></span></p>
						    <p><%= liked_info.text %></p>
						</div>
					</div>
				    <% end %>
				    <%= paginate(@liked_infos) %>
				</div>

			    <div class="my_like">
					<h4 class="midle">ダイアリー</h4>
				    <% @liked_diaries.each do |liked_diary|  %>
					    <div class="my_like_thing">
					    	<div class="my_like_img">
						    <% if liked_diary.user.image.attached? %>
							    <%= image_tag(rails_blob_path(liked_diary.user.image),:size => "60x60") %>
							    <% else %>
							    <%= image_tag("default_image.jpg", :size => "60x60") %>
						    <% end %>				    		
					    	</div>
					    	<div class="my_like_text">
							    <p><span class="under_line"><a href="/users/<%= liked_diary.user.id %>">◆ <%= liked_diary.user.nickname %></a></span></p>
							    <p><%= simple_format(h(liked_diary.text)) %></p>
							    <% if liked_diary.image.attached? %>
								    <div class="diary_img"><%= image_tag(rails_blob_path(liked_diary.image),:size => "370x250") %></div>
							    <% end %>
							</div>
						</div>
				    <% end %>
				    <%= paginate(@liked_diaries) %>
				</div>
			</div>

		    <div class="user_back">
			  <a class="btn" href="/">TOPへ戻る</a>
		    </div> 
		</div>

    </div>

</div>