<div class="contents ">

<div class="main">

<% if user_signed_in? %>
  <div id="post">
    <a href="/events/new" class="post_btn">イベント作成</a>
  </div>
 <% end %>

<!-- 検索 -->
  <div id="search">
    <p>エリア検索</p>
    <%= form_tag(search_path, method: :get, class: 'search' ) do %>
      <%= text_field_tag :keyword, '', placeholder: "都道府県を入力" %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>
  </div>

  <div class="content_posts">

  <%= render @events %>

  </div>

    <%= paginate(@events) %>
</div>
</div>