<div class="content">

  <div class="event_new_frame">
  <div class="event_new">

    <h2>
  	イベント作成
    </h2>
    <div class="col-lg-12">
      <%= form_for(@event) do |f| %>

      <%= render 'layouts/error_messages', event: f.object %>

        <div class="form-group">
        	<p><span class="data">日付（必須）</span></p>
        	<%= f.date_field :event_date, placeholder: "日付（必須）", class:"form-control" %>
        	<p><span class="data">エリア（必須）</span></p>
          <%= f.text_field :prefecture, placeholder: "都道府県（必須）",class:"form-control" %>
          <p><span class="data">コート</span></p>
          <%= f.text_field :court, placeholder: "コート", class:"form-control len" %>
          <p><span class="data">URL</span></p>
          <%= f.text_field :court_url, placeholder: "URL", class:"form-control len" %>
          <p><span class="data">集合場所（必須）</span></p>
          <%= f.text_field :meeting_place, placeholder: "集合場所（必須）", class:"form-control" %>
          <p><span class="data">集合時間（必須）</span></p>
          <%= f.time_field :meeting_time, placeholder: "集合時間（必須）", class:"form-control" %><span class="small">(※半角)</span>
          <p><span class="data">アクセス</span></p>
          <%= f.text_area :access, placeholder: "アクセス", cols:"50", rows:"3", class:"form-control" %><br>
          <p><span class="data">参加費</span></p>
          <%= f.number_field :budget, class:"form-control" %>円<span class="small">(※半角)</span>
          <p><span class="data">募集人数</span></p>
          <%= f.number_field :max_member, class:"form-control" %>人<span class="small">(※半角)</span>

          <label><p><span class="data">ラケット</span></p>
          <%= f.radio_button :racket, "1", {:checked => true} %>持参</label>
          <label><%= f.radio_button :racket, "2" %>有料レンタル</label>
          <label><%= f.radio_button :racket, "3" %>無料レンタル</label>
          <p><span class="data">備考</span></p>
          <%= f.text_area :remarks, placeholder: "備考", cols:"50", rows:"3", class:"form-control" %><br>
          
        
        <%= f.submit "投稿", class:"btn_mo"%>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>