<div class="contents">

	<div class="main result">
	  <h3>検索結果</h3>
	<!-- 検索 -->
	  <div id="search">

	    <p>エリア検索</p>
	    <%= form_tag(search_path, method: :get, class: 'search' ) do %>
	      <%= text_field_tag :keyword, '', placeholder: "都道府県を入力" %>
	      <%= submit_tag 'Search', :name => nil %>
	    <% end %>
	  </div>

	  <div class="content_posts">
	  <% if @events.exists? %>

	  <%= render @events %>
	　<%= paginate(@events) %>

	  <% else %>

		  <div class="content">

		　<h3>一致するものはありません</h3>

		  </div>

	　<% end %>

	  <a class="btn" href="/">TOPへ戻る</a>
	  </div>

	</div>
</div>