<div class="contents">

    <div class="post">
		投稿者：<a href="/users/<%= @event.user.id %>"><%= @event.user.nickname %></a><br>
		日付：<%= @event.event_date %><br>
		エリア：<%= @event.prefecture %><br>
		コート：<%= @event.court %><br>
		URL：<%= @event.court_url %><br>
		集合場所：<%= @event.meeting_place %><br>
		集合時間：<%= @event_time %><br>
		アクセス：<%= @event.access %><br>
		参加費：<%= @event.budget %>円<br>
		募集人数：<%= @event.max_member %>人<br>
		参加人数：<%= @groups.count %>人<br>
		<% if @event.racket == 1 %>
		  ラケット：持参<br>
		<% elsif @event.racket == 2 %>
		  ラケット：有料レンタル<br>
		<% else %>
		  ラケット：無料レンタル<br>
		<% end %>
		備考：<%= simple_format(@event.remarks) %>
		気になる<%= @like_events.count %>件<br>
		<%= link_to '参加者', group_path, method: :get %><br>
		<% if user_signed_in? && @event.user.id == current_user.id %>
			<%= link_to '編集', "/events/#{@event.id}/edit", method: :get %>
		    <%= link_to '削除', "/events/#{@event.id}", method: :delete %><br>
	    <% end %>
	</div>

	<% if user_signed_in? && @event.user.id != current_user.id %>	
	<div>
        <% unless @groups.exists?(user_id: current_user.id) %>

			<%= form_tag(groups_path, method: :post) do %>
			  <%= hidden_field_tag(:event_id, @event.id) %>
			  <%= submit_tag("参加する", class: 'btn') %>
			<% end %> 
		<% end %>

		<% unless @like_events.exists?(user_id: current_user.id) %>
			<%= form_tag(like_events_path, method: :post) do %>
			  <%= hidden_field_tag(:event_id, @event.id) %>
			  <%= submit_tag("気になる", class: 'btn') %>
			<% end %> 
		<% end %>

	</div>
	<% end %>

    <div class="comments">
	    <p>コメント欄</p>
		<% @comments.each do |comment| %>
		  <a href="/users/<%= comment.user.id %>"><%= comment.user.nickname %></a><br>
		  <%= comment.text %><br>
		  <% if user_signed_in? && comment.user.id == current_user.id %>
		    <%= link_to '削除', "/comments/#{comment.id}", method: :delete %><br>
		  <% end %>
		<% end %>
		<%= paginate(@comments) %>

    </div>

    <% if user_signed_in? %>

    <%= form_for @comment do |f| %>
      <div class="form-group">
        <%= f.text_area :text, placeholder: "コメントを入力してください", cols:"50", rows:"3", autofocus:"true", class:"form-control" %>
      </div>
      <%= f.hidden_field :event_id, :value => @event.id %>
      <%= f.submit "コメントする", class:"btn"%>
    <% end %>

    <% end %>
	<a class="btn" href="/">TOPへ戻る</a>
</div>