<div class="comment">
    <div class="comimg">
    <% if tennis_info.user.image.attached? %>
	    <%= image_tag(rails_blob_path(tennis_info.user.image),:size => "60x60") %>
	    <% else %>
	    <%= image_tag("default_image.jpg", :size => "60x60") %>
    <% end %>
    </div>
    <div class="comtxt">
		<ul>
		  <li><%= tennis_info.created_at.strftime("%m/%d/%H:%M") %>
		  <% if user_signed_in? && tennis_info.user.id == current_user.id %>
		  <li><%= link_to '削除', "/tennis_infos/#{tennis_info.id}", method: :delete, class: "editbtn", remote: true, data: {confirm: "削除しますか？"} %>
		  <% end %>
		 </ul>			  
		 <p><a href="/users/<%= tennis_info.user.id %>" class="name">◆ <%= tennis_info.user.nickname %></a></p>			
		 <p>　<%= tennis_info.text %></p>

		 <% if user_signed_in? %>
			<% if current_user.already_liked?(tennis_info) %>
			<div class="likes">
			  <div class="like_count"><button id="liked_user"><%= tennis_info.like_infos.count %></button></div>
			  <div class="like"><%= button_to 'いいね', tennis_info_like_info_path(tennis_info_id: tennis_info.id, id: tennis_info.like_infos), method: :delete, :class =>'checkbtn2', remote: true %></div>

			</div>

			<% else %>
			<div class="likes">
				  <div class="like_count"><button id="liked_user"><%= tennis_info.like_infos.count %></button></div>
				  <div class="like"><%= button_to 'いいね', tennis_info_like_infos_path(tennis_info), :class =>'checkbtn', remote: true %></div>

			</div>
			<% end %>
			<div class="liked_users">
			いいねしたユーザー
			<% tennis_info.liked_users.each do |user| %>
			  <li><%= user.nickname %></li>
			<% end %>
		    </div>

		 <% end %>
  	</div>
  
</div>