<div class="content">

	<div class="main info_result">
	  <h3>検索結果</h3>
	<!-- 検索 -->
	  <div id="search">

	    <p>キーワード検索</p>
	    <%= form_tag(tennis_info_search_path, method: :get, class: 'search' ) do %>
	      <%= text_field_tag :keyword, '', placeholder: "キーワードを入力" %>
	      <%= submit_tag 'Search', :name => nil %>
	    <% end %>
	  </div>


    <div class="comments">

	    <% unless @tennis_infos.exists? %>
	      <h3>一致するものはありません</h3>	    	
	    <% end %>
		<% @tennis_infos.each do |tennis_info| %>
		<div class="comment">
		    <div class="comimg">
		    <% if tennis_info.user.image.attached? %>
			    <%= image_tag(rails_blob_path(tennis_info.user.image),:size => "80x80") %>
			    <% else %>
			    <%= image_tag("default_image.jpg", :size => "80x80") %>
		    <% end %>
		    </div>
		    <div class="comtxt">
				<ul>
				  <li><%= tennis_info.created_at.strftime("%Y/%m/%d/%H:%M") %>
				  <% if user_signed_in? && tennis_info.user.id == current_user.id %>
				  <li><%= link_to 'コメントを削除', "/tennis_infos/#{tennis_info.id}", method: :delete, class: "editbtn", data: {confirm: "削除しますか？"} %>
				  <% end %>
				 </ul>			  
				 <p><a href="/users/<%= tennis_info.user.id %>" class="name">◆ <%= tennis_info.user.nickname %></a></p>			
				 <p>　<%= tennis_info.text %></p>
		  	</div>
		  
		</div>
		<% end %>
		<%= paginate(@tennis_infos) %>

    </div>
    <div class="back">
	<a class="btn" href="/">TOPへ戻る</a>
    </div>
    </div>
</div>