<!DOCTYPE html>
<html>
  <head>
    <title>BabyTennis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://unpkg.com/ress/dist/ress.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width">
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
  
    <header id="header">

      <h1 id="title"><a href="/">Baby<span class="font_space">T</span>ennis</a></h1>

      <nav id="navi" >
      <div id="nav">
        <div class="nav">
          <a href="/chats" class="nav_btn">雑談</a>
          <a href="/tennis_infos" class="nav_btn">情報交換</a>
          <a href="/diaries" class="nav_btn">ダイアリー</a>
          <a href="/how_to" class="nav_btn">使い方</a>
        </div>

        <% if user_signed_in? %>
          <div class="user">
            <a href="/users/<%= current_user.id %>" class="nav_btn" >マイページ</a>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav_btn' %>
          </div>

        <% else %>
          <div class="user">
            <%= link_to "ログイン", new_user_session_path, class: 'nav_btn' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'nav_btn' %>
          </div>
        <% end %>
      </div> 
      </nav>

    </header>


   <div class="back_img">

    <section id="main">
      <!--   フラッシュメッセージ -->
      <%= bootstrap_flash %>

      <%= yield %>
    </section>

    </div>

    
    <footer id="footer">
      <a href="/about">BabyTennisとは？</a>
      <a href="/link">テニス関連リンク</a>
      <a href="/terms">利用規約</a>
      <a href="/privacy">プライバシーポリシー</a>
    </footer>

  </body>
</div>
</html>
