<!DOCTYPE html>
<html>
  <head>
    <title>Tennis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
    <%= stylesheet_link_tag "https://unpkg.com/ress/dist/ress.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 id="title"><a href="/">tennis</a></h1>
       <% if user_signed_in? %>

        <nav class="user_nav grid-6">

          <a href="/users/<%= current_user.id %>">マイページ</a>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <a id="post" href="/events/new">投稿する</a>
        </nav>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>
      <% end %> 

    </header>


    <section>
      <!--   フラッシュメッセージ -->
      <%= bootstrap_flash %>
      <%= yield %>
    </section>

  </body>
</html>
